@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0.2;
  }
}

.warn {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.live.map {
  width: 100%;
  height: 100%;
}

svg {
  display:block;
  margin: auto auto;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.live.map text {
  font-weight: 300;
  font-size: 14px;
}

.live.map .node rect {
  fill: #d2d6de;
}

.live.map .status {
  height: 100%;
  width: 20px;
  display: block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: 4px;
}

.live.map .running .status {
  background-color: #00a65a;
}

.live.map .running.warn .status {
  background-color: #00a65a;
}

.live.map .stopped .status {
  background-color: #d4d1cb;
}

.live.map .success .status {
  background-color: #00c0ef;
}

.live.map .unstable .status {
  background-color: #f39c12;
}

.live.map .failure .status,
.live.map .aborted .status {
  background-color: #dd4b39;
}

.warn {
  -webkit-animation-name: flash;
  animation-name: flash;
}

.live.map .name {
  margin-top: 4px;
}

.live.map .buildurl {
  display: block;
  float: left;
  width: 130px;
  height: 20px;
  font-size: 12px;
  margin-top: 2px;
}

.live.map .node g div {
  width: 400px;
  height: 40px;
  color: #000000;
}

.live.map .edgeLabel text {
  width: 50px;
  fill: #060dcc;
}

.live.map .edgePath path {
  stroke: #00a65a;
  stroke-width: 1.5px;
  fill: #00a65a;
}
