{% extends "layout.html" %}

{% block title %}
Reflatus | {{ flow_name }}
{% endblock %}

{% block head %}
<script src="{{url_for('static',filename='d3.v3.min.js')}}" charset="utf-8"></script>
<script src="{{url_for('static',filename='dagre-d3/v0.4.8/dagre-d3.min.js')}}"></script>

<script>
  var jobs = {{ flow|tojson }};
  var flow_name = {{ flow_name|tojson }};
  var url_root = {{ url_root|tojson }};
  var server_name = {{ server_name|tojson }};
</script>

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='liveflow.css')}}">
<script src="{{url_for('static',filename='liveflow.js')}}"></script>
{% endblock %}


{% block content_header %}
<h1>
{{ flow_name }}
<small>{{ server_name }}</small>
</h1>
{% endblock %}

{% block content_nav %}
<ol class="breadcrumb">
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Blank page</li>
</ol>
{% endblock %}

{% block body %}
<script type="text/javascript">$(drawflow)</script>
{% endblock %}

{% block box_title %}
{% endblock %}

{% block box_body %}
<div class="box-body live map">
  <svg id="svgMain" height="800px">
    <g align="center" style="text-align:center;font-size: 1.3em;"/>
  </svg>
</div>
{% endblock %}

{% block box_footer %}
{% endblock %}